parameters:
    env(S3_KEY): key
    env(S3_SECRET): secret
    env(S3_ENDPOINT): null
    env(S3_REGION): 'eu-west-3'
    env(S3_BUCKET): 'cvvfcm'

flysystem:
    storages:
        default.storage:
            adapter: 'aws'
            options:
                client: 'Aws\S3\S3ClientInterface'
                bucket: '%env(S3_BUCKET)%'
                prefix: ''
                streamReads: true

services:
    Aws\S3\S3ClientInterface:
        class: Aws\S3\S3Client
        arguments:
            -
                version: 'latest'
                region: '%env(S3_REGION)%'
                endpoint: '%env(S3_ENDPOINT)%'
                use_path_style_endpoint: true
                credentials:
                    key: '%env(S3_KEY)%'
                    secret: '%env(S3_SECRET)%'
