**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile
**/Thumbs.db
.editorconfig
.php_cs.cache
docker/db/data/
helm/
node_modules/
public/build/
public/bundles/
public/uploads/
var/
vendor/

*.sql
stubs/*
