<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <env name="KERNEL_CLASS" value="App\Tests\WebsiteKernel" />

        <!-- ###+ symfony/brevo-mailer ### -->
        <!-- MAILER_DSN=brevo+api://KEY@default -->
        <!-- MAILER_DSN=brevo+smtp://USERNAME:PASSWORD@default -->
        <!-- ###- symfony/brevo-mailer ### -->

        <!-- ###+ symfony/mercure-bundle ### -->
        <!-- See https://symfony.com/doc/current/mercure.html#configuration -->
        <!-- The URL of the Mercure hub, used by the app to publish updates (can be a local URL) -->
        <env name="MERCURE_URL" value="https://example.com/.well-known/mercure"/>
        <!-- The public URL of the Mercure hub, used by the browser to connect -->
        <env name="MERCURE_PUBLIC_URL" value="https://example.com/.well-known/mercure"/>
        <!-- The secret used to sign the JWTs -->
        <env name="MERCURE_JWT_SECRET" value="!ChangeThisMercureHubJWTSecretKey!"/>
        <!-- ###- symfony/mercure-bundle ### -->

        <!-- ###+ symfony/ai-generic-platform ### -->
        <!-- GENERIC_BASE_URL=https://api.example.com/v1 -->
        <!-- ###- symfony/ai-generic-platform ### -->

        <!-- ###+ symfony/ai-mistral-platform ### -->
        <env name="MISTRAL_API_KEY" value=""/>
        <!-- ###- symfony/ai-mistral-platform ### -->

        <!-- ###+ symfony/google-chat-notifier ### -->
        <!-- See https://developers.google.com/hangouts/chat/how-tos/webhooks -->
        <!-- GOOGLE_CHAT_DSN=googlechat://ACCESS_KEY:ACCESS_TOKEN@default/SPACE?thread_key=THREAD_KEY -->
        <!-- ###- symfony/google-chat-notifier ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
