
.Header__ctasContainer {
    container-type: inline-size;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Header__ctas {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

@container (width > 60em){
    .Header__ctas {
        flex-direction: row;
        align-items: stretch;
    }
}



.CtaCard {
    --CtaCard-pictureWidth: 45%;

    font-size: .75rem;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    background-color: var(--color-white);
    border-radius: var(--whiteCard-radius);
    padding: 3rem 3rem 3rem 2rem;
    text-decoration: none;
    color: var(--color-dark);
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 40% auto;
}



.CtaCard:hover,
.CtaCard:focus {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

.CtaCard__image {
    position: relative;
    transform: translate(-30%,0);
    width: 120%;
    height: auto;
    border-radius: 120em;
    object-fit: cover;
}

.CtaCard__content {
    display: flex;
    flex-direction: column;
    color: var(--blueNote-text);
}

.CtaCard__title {
    font-size: 2.2em;
    line-height: 1.12;
    font-weight: 600;
    margin: 0 0 .5em;
    text-align: left;
}

.CtaCard__description {
    font-size: 1em;
    margin: 0 0 1em;
    text-align: left;
    font-weight: 500;
}

.CtaCard__link {
    font-size: 1em;
    font-weight: 700;
    margin-top: auto;
    color: var(--redAct-text);
}

