.Header {
    padding: 2rem 1rem;
    text-align: center;
}

.Header img {
    width: 100%;
    height: auto;
    max-width: 60rem;
    margin: 0 auto;
}

@media (min-width: 48rem) {
    .Header {
        padding: 3rem 2rem;
    }
}
