.NavigationLinks__list {
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.NavigationLinks__link {
    text-align: center;
    padding: .5em;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: inherit;
    gap: .2em;

    &:hover {
        text-decoration: underline;
    }
}

.NavigationLinks__media {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    background-color: var(--color-white);
    -webkit-mask-image: var(--nav-icon-mask);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: var(--nav-icon-mask);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}
