<section class="WeatherToday">
    <div>
        <h4>Aujourd'hui</h4>

        <ul>
            {% set tomorrow = false %}
            {% for forecast in this.data %}
                {% if not tomorrow and forecast.date.format('Y-m-d') != date().format('Y-m-d') %}
                    {% set tomorrow = true %}
        </ul>
    </div>

    <div>
        <h4>Demain</h4>

        <ul>
                {% endif %}

                <li>
                    <strong>{{ forecast.label }}</strong>
                    <span>{{ forecast.temperature|round }}°C</span>
                    <span>{{ forecast.windSpeed|round }}nds</span>
                    <span>{{ forecast.windCardinalDirection }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
