.HomepageCalendar {
    --calendar-accent: #e85a3c;
    --calendar-accent-hover: #d14a2e;

    container-type: inline-size;
    background: linear-gradient(135deg, #003258, #032648);
}

.HomepageCalendar__header {
    text-align: center;
    margin-bottom: 2rem;
}

.HomepageCalendar__title {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--calendar-accent);
    margin-bottom: 0.2em
}

.HomepageCalendar__description {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.HomepageCalendar__featuredBlock {
    height: 100%;
    display: flex;
}

.HomepageCalendar__eventItem {
    width: 100%;
    display: flex;
}

.HomepageCalendar__grid {
    --calendar-grid-gap: 2rem;

    display: flex;
    flex-direction: column;
    gap: var(--calendar-grid-gap);
}

.HomepageCalendar__events {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--calendar-grid-gap);
    justify-content: center;
}

.HomepageCalendar__footer {
    text-align: center;
    margin-top: 2.5rem;
}

.HomepageCalendar__button {
    display: inline-block;
    background-color: var(--calendar-accent);
    color: var(--color-white);
    padding: 0.8em 1.7em;
    border-radius: 2em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.2s ease, transform 0.2s ease;

    &:hover,
    &:focus {
        background-color: var(--calendar-accent-hover);
        transform: translateY(-0.0625rem);
    }
}

@container (min-width: 60rem) {
    .HomepageCalendar__grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: stretch;
    }

    .EventCard--featured {
        flex-direction: column;
        align-items: stretch;
        padding: 1.5em 3em;
        gap: 0;
    }
}

@container (min-width: 40rem) {
    .HomepageCalendar__events {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        align-items: stretch;
    }
}

@container (max-width: calc(40rem - 1px)) {
    .HomepageCalendar__events .EventCard {
        font-size: .8rem;
    }

    .EventCard--featured .EventCard__image {
        left: -1em;
        position: relative;
        width: 6em;
        height: 6em;
    }
}
